// bower:js
script(src="lib/modernizr/modernizr.js")
script(src="lib/jquery/dist/jquery.js")
script(src="lib/fastclick/lib/fastclick.js")
script(src="lib/jquery.cookie/jquery.cookie.js")
script(src="lib/jquery-placeholder/jquery.placeholder.js")
script(src="lib/foundation/js/foundation.js")
script(src="lib/angular/angular.js")
script(src="lib/angular-resource/angular-resource.js")
script(src="lib/angular-mocks/angular-mocks.js")
script(src="lib/angular-cookies/angular-cookies.js")
script(src="lib/angular-animate/angular-animate.js")
script(src="lib/angular-touch/angular-touch.js")
script(src="lib/angular-sanitize/angular-sanitize.js")
script(src="lib/angular-ui-utils/ui-utils.js")
script(src="lib/angular-ui-router/release/angular-ui-router.js")
script(src="lib/angular-foundation/mm-foundation-tpls.js")
script(src="lib/angular-markdown/angular.markdown.js")
script(src="lib/highlightjs/highlight.pack.js")
script(src="lib/angular-marked/angular-marked.js")
// endbower