doctype html
html
  head
    title= title

    // General META
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    // Semantic META
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)

    // Fav icon
    link(href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon")

    // Application CSS Files
    each cssFile in cssFiles
      link(rel="stylesheet" href=cssFile)

    // HTML5 Shim -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

