doctype html
html(lang="en")
  head
    title= title

    // General META
    meta(charset="utf-8")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    // Application CSS
    each cssFile in cssFiles
      link(rel="stylesheet", href=cssFile)
    include bower.css.jade

    // HTML5 Shim
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body.ng-cloak

    .container.off-canvas-wrap(data-offcanvas)
      section.inner-wrap
        header(data-ng-include="'/modules/core/views/header.client.view.html'")

        main.content.main-section
          block content

        a.exit-off-canvas


    // Embedding the User Object
    script var user = user | json | safe;

    // Application JavaScript
    each jsFile in jsFiles
      script(src=jsFile)

    include bower.js.jade

    // Initialize Foundation
    script $(document).foundation();

    if process.env.NODE_ENV === "development"
      script(src="http://localhost:35729/livereload.js")


